.navbar .brand {
  margin-top:-8px;
}

.brand .logo {
  float:left;
  background-image:url(../images/logo.png);  
  background-repeat: no-repeat;
  background-size: contain;
  width: 38px;
  height: 38px;
  margin-left:5	px;
  margin-right:15px;
}

.brand .name {
  float:left;
}

.brand .description {
  font-size: 70%;
}

body {
	padding-top:70px;
}

blockquote {
  font-size:100%;	
}

/* bootstrap doesn't provide footers, so we make our own */
.footer {
  background-color: #f8f8f8;
  border-style: solid;
  border-color: #e7e7e7;
  border-width: 1px 0px 0px 0px;
  padding-top:10px;
  margin-top:10px;
}
